<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RockMove</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RockMove.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">RockMove</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Index -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>




                        <!-- ArtistView -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ArtistView">Artist View</a>
                        </li>




                    </ul>
                </div>
                <div id="role-logo">
                    @{
                        var role = Context.User.IsInRole("Admin") ? "Admin"
                        : Context.User.IsInRole("Employee") ? "Employee"
                        : Context.User.IsInRole("Customer") ? "Customer"
                        : "Unknown";
                    }

                    @if (role == "Admin")
                    {
                        <img src="~/logoimages/adminlogo.png" alt="Admin Logo" class="role-logo">
                    }
                    else if (role == "Employee")
                    {
                        <img src="~/logoimages/employeelogo.png" alt="Employee Logo" class="role-logo">
                    }
                    else if (role == "Customer")
                    {
                        <img src="~/logoimages/customerlogo.png" alt="Customer Logo" class="role-logo">
                    }
                    else
                    {
                        <span>Press Start Tour</span>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
